$fontFamily: sans-serif;
$activeColor: #1FBCD3;
$contentBackground: #fff;
$hrColor: #617D8A;
$postListBackground: #EFEFEF;
$postListTitle : #1697A6;
$postListPicInfo: #159587;
$contentColor: #617D8A;
$formTextColor: #757575;
$footerTextColor: #7B898D;
